.card {
  .card-img-top {
    margin-bottom: 8px;
    background-color: #e2e5e6;
  }
  .card-title {
    color: #7b83ae;
    font-weight: 600;
  }
  .card-label {
    font-weight: 700;
    margin-bottom: 0px;
  }
  .text-data {
    color: #939abe;
  }
  .card-ul {
    margin-bottom: 0px;
  }
  .card-section {
    margin-bottom: 8px;
  }
}
